body {
  padding-bottom: 30px;
}

a:link, a:visited, a:hover, a:active {
  color: #3136a8;
}

.jumbotron {
  background: -webkit-linear-gradient(90deg, #336699, #669acc);
  background: -moz-linear-gradient(90deg, #336699, #669acc);
  background: -o-linear-gradient(90deg, #336699, #669acc);
  background: linear-gradient(90deg, #336699, #669acc);
  color: white;
  margin-bottom: 0px;
}

.jumbotron img {
    float: left; 
    width: 175px; 
    padding-right: 30px
}

.jumbotron .container h1 {
    font-size: 200%;
}
.jumbotron .container h2 {
  border-bottom: 0px solid #6468b8;
  font-size: 150%;
  text-align: left;
}

.jumbotron .btn, .jumbotron .btn:enabled {
  background-color: #BFAB73;
  border-color : #A68527;
}

.container h1 {
  font-size: 175%;
}

.container h2 {
  font-size: 150%;
}

.col-md-4 h2 {
  text-align: center;
}

.col-md-4 img {
  width: 100%;
  margin-bottom: 15px;
}

.col-md-4 ul {
  list-style-type: none;
  padding: 0px;
}

.col-md-4 li {
  margin-bottom: 5px;
}

.btn:enabled {
  background-color: #336699;
  border-color: #336699;
  color: white;
}

.btn-warning:enabled {
  background-color: #BFAB73;
  border-color : #A68527;
  color: white;
}

.btn-info:enabled {
  background-color: #FFE499;
  border-color : #A68527;
  color: black;
  margin-bottom: 10px;
}

pre {
  -moz-tab-size: 2;
  -o-tab-size:   2;
  tab-size:      2;
}

.verb {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-style: italic;
}

.col-md-6 form h2 {
  margin-top: 0px;
  font-size: 110%;
  font-weight: bold;
}

.panel-heading {
  font-size: 125%;
  font-weight: bold;
}


