<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://atlanmod.fr/strategy"
            class="fr.inria.atlanmod.decision.strategy.Strategy.StrategyPackage"
            genModel="model/strategy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://atlanmod.fr/collaboration"
            class="fr.inria.atlanmod.decision.strategy.Collaboration.CollaborationPackage"
            genModel="model/strategy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated strategy -->
      <package
            uri="http://atlanmod.fr/strategy"
            class="fr.inria.atlanmod.governance.strategy.StrategyPackage"
            genModel="model/strategy.genmodel"/>
   </extension>

</plugin>
